<h1>Billboards</h1>

<div id="controls">
	<%= link_to(image_tag('add.png', :alt => 'Add new billboard') + ' Add Billboard', new_admin_billboard_path, :title => 'Add new billboard') %>
	<p><%= page_entries_info(@billboards) %></p>
</div>

<% unless @billboards.empty? %>
  <%= will_paginate(@billboards) %>
	<table border="0" cellspacing="0" cellpadding="0" class="itemtable">
		<tr>
			<th>Image <small>(click to edit)</small></th>
			<th>Link</th>
			<th>Date Added</th>
			<th>&nbsp;</th>
		</tr>
		<% @billboards.each do |billboard| %>
			<tr class="<%= cycle('odd', 'even') %>">
				<td><%= link_to(image_tag(billboard.image.url(:thumb)), edit_admin_billboard_path(billboard)) %></td>
				<td><%= billboard.link %></td>
				<td><%= billboard.created_at.strftime('%m/%d/%Y') %></td>
				<td><%= link_to(image_tag('delete.png'), admin_billboard_path(billboard), :method => :delete, :confirm => 'Are you sure you want to remove this?') %></td>
			</tr>
		<% end %>
	</table>
	<%= will_paginate(@billboards) %>
<% end %>