<h1>Courses</h1>

<div id="controls">
	<%= link_to(image_tag('add.png', :alt => 'Add new course') + ' Add Course', new_admin_course_path, :title => 'Add new course') %>
	<p><%= page_entries_info(@courses) %></p>
</div>

<% unless @courses.empty? %>
  <%= will_paginate(@courses) %>
	<table border="0" cellspacing="0" cellpadding="0" class="itemtable">
		<tr>
			<th>Title <small>(click to edit)</small></th>
			<th>Type</th>
			<th>Instructors</th>
			<th>Date Added</th>
			<th>&nbsp;</th>
		</tr>
		<% @courses.each do |course| %>
			<tr class="<%= cycle('odd', 'even') %>">
				<td><%= link_to(course.title, edit_admin_course_path(course)) %></td>
				<td><%= course.course_type %></td>
				<td><%= course.instructors.size %></td>
				<td><%= course.created_at.strftime('%m/%d/%Y') %></td>
				<td><%= link_to(image_tag('delete.png'), admin_course_path(course), :method => :delete, :confirm => 'Are you sure you want to remove this?') %></td>
			</tr>
		<% end %>
	</table>
  <%= will_paginate(@courses) %>
<% end %>
